/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
}

.title-container h4 {
  margin: 0;
  font-size: 16px;
  text-align: right;
}

h4 {
  color: rgb(129, 123, 123);
  margin-left: 350px;
}

.header {
  padding: 10px; 
  margin-left: -40px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #dfd9d9; 
}

.header .container {
  display: flex;
  align-items: center;
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 0 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 6px;
}

.header h1 {
  color: #000000;
  margin: 0;
}

#contactify {
  color: #4caf50;
  margin-left: 10px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 40px;
  align-items: start;
  padding-top: 80px;
}

.mn-search-ctn {
  padding: 48px; 
  position: fixed;
  top: 0;
  width: 1200px;
  z-index: 1000;
  background-color: #dfd9d9;
  margin-top: 68px;
  margin-left: -50px;
  margin-right: 20px;
  border-radius: 0 0 30px 30px; 
}

.add-form {
  background-color: #dfd9d9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
  margin-top: 100px;
  position: sticky;
  top: 200px;
}

.add-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-form h2 {
  color: #000000;
}

.add-form label {
  font-weight: bold;
  color: #000000;
}

.add-form input,
.add-form button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px);
}

.add-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 15px;
}

.add-form button:hover {
  background-color: #4caf50;
}

.contact-list {
  background-color: #4caf50;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

#contactsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;

}

.contact-card {
  background: linear-gradient(to bottom, #dfd9d9, #dfd9d9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}

.contact-card h3, p{
  color: #000000;
}

.contact-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.contact-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #ada7a7, #f1e2e2);
}

.modal {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1000; 
  overflow: auto; 
}

.modal-content {
  background-color: #dfd9d9;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 500px; 
  position: relative;
  border-radius: 20px;
}

.modal label {
  font-weight: bold;
  color: #000000;
}

.modal h2 {
  color: #000000;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#editContactForm {
  display: grid;
  gap: 10px;
}

#editContactForm input,
#editContactForm button {
  width: calc(100% - 20px); 
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#updateBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 5px;
}

#updateBtn:hover {
  background-color: #4caf50;
  cursor: pointer;
}

.editBtn {
  background-color: gray;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBtn {
  background-color: red;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.search-container {

  background-color: #000000;
  border-radius: 40px;
  position: fixed;
  margin-left: 460px;
  margin-top: -30px;
  width: 680px;
  height: 50px;
}

.search-bar {
  position: sticky;
  top: 100px;
}

#searchInput {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 420px;
  margin-top: -9px;
  margin-left: 13px;
}

#search-span {
  margin-left: 14px;
  color: #4caf50;
}

.ft-container {
  display: flex;
  justify-content: center;
  background-color: #dfd9d9;
  color: #000000;
  margin-top: 20px;
  border-radius: 8px;
  padding: 2px 3px;
  width: 861px;
  margin-left: 637px;
}

.container video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
}


@media screen and (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}